{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-12">
    <div class="card m-2">
        <div class="card-body">
            <img src="{{post.image.url}}" class="card-img-top"
            style="width: 25%" alt="..." style="width:50%;">
            <h4 class="card-title">{{post.title}}</h4>
            <h5 class="card-title">Price: ${{post.price}} Per night</h5>
            <p class="card-text">{{post.content}}</p>
            {% if request.user.is_authenticated %}
            
            <p>
                <a href="{% url 'Booked' post.id %}" class="btn btn-primary ">
                    Book Now
                </a>
            </p>
          {% endif %}
        </div>
    </div>
</div>

<div class="card m-2">
    <h5 class="p-3">Total Comments : {{comments | length}}</h5>
    {% for comment in comments %}
    <div class="card-body border m-2">
        <p><b>{{comment.name}}</b> {{comment.created_on}}</p>
        <p>{{comment.body}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Comment</h1>
            {% csrf_token %}
            {{comment_form | crispy}}

            <button class="btn btn-warning">Submit</button>
    </div>
</div>
{% endblock %}